<blockquote>
<p>Nobody asked for this.</p>
<footer>Everyone</footer>
</blockquote>

<ul>
  {{#each model as |entry|}}
    {{entry-tile entry=entry update="update" destroyEntry="destroyEntry"}}
  {{/each}}
</ul>

{{new-entry saveEntry2="saveEntry3"}}
