<blockquote>
<p>Nobody asked for this.</p>
<footer>Everyone</footer>
</blockquote>

<ul>
  {{#each model as |entry|}}
    {{entry-tile entry=entry saveComment="saveComment" update="update" destroyEntry="destroyEntry" destroyComment="destroyComment"}}
  {{/each}}
</ul>

{{new-entry entry=model saveEntry2="saveEntry3"}}
